* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100dvh;
  background-image: linear-gradient(
    rgba(245, 126, 243, 0.885),
    rgb(63, 51, 51)
  );

  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 18rem;

  padding: 1rem;
  background-color: aliceblue;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-radius: 10px;
}
img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 10px;
}
.img {
  position: relative;
}
.waves {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2.5rem;
  width: 2.5rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.waver {
  height: 1rem;
  width: 8px;
  background-color: white;
  border-radius: 6.0rem;
  animation: waves 1000ms linear infinite alternate;
}
.text {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}
.text h2,
h3 {
  font-family: Helvetica, Arial sans-serif;
}
h2 {
  font-weight: bold;
}
h3 {
  font-weight: normal;
}
@keyframes waves {
  to {
    height: 2.5rem;
  }
}
.waver:nth-child(even) {
  animation-delay: 1s;
}
