* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100dvh;
  background-image: linear-gradient(
    rgba(236, 126, 234, 0.885),
    rgb(63, 51, 51)
  );

  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  height: 80px;
  width: 300px;

  background-color: aliceblue;

  display: flex;
  justify-content: space-around;
  align-items: center;

  border-radius: 10px;
}
img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
}
.img {
  position: relative;
}
.waves {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  width: 40px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.waver {
  height: 5px;
  width: 8px;
  background-color: white;
  border-radius: 99px;
  animation: waves 1000ms linear infinite alternate;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.text h2,
h3 {
  font-family: Helvetica, Arial sans-serif;
}
h2 {
  font-weight: bold;
}
h3 {
  font-weight: normal;
}
@keyframes waves {
  to {
    height: 40px;
  }
}
.waver:nth-child(odd) {
  animation-delay: 1s;
}
.waver:nth-child(even) {
  animation-delay: 0s;
}